/*Text styling*/

h1, h2, h3, h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 40pt;
    line-height: 1.375;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 18pt;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color:#f1562d;
}

h3 {
    font-size: 18pt;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    color:#562c2c;
    text-align: center;
}

h4 {
    font-size: 16pt;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    color:#562c2c;
}

ul, li {
    display: block;
    text-decoration: none;
    color:#562c2c;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 11pt;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    color:#562c2c;
    font-family: Arial, Helvetica, sans-serif;
}

/*Body*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f4debb;
    margin: 0;
    padding-bottom: 100px;
}  

nav {
    bottom: 0;
    left: 0;
    width: 90%;
    height: 30px;
    padding: 5%;
    position: fixed;
    background-color:#197484;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.wrap {
    padding: 0 10px;
}

.flex-container {
    width: 100%; 
    background-color: #197484;
}

.flex-container a img {
    padding: 20px 0;
}

.flex-container > div {
    font-size: 40px;
    font-weight: 700;
    margin-left: 12px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow: hidden;
    align-items: center;
    gap: 2px;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.container2 img {
    width: 90%;
}

.column {
    width: 100%;
    justify-content: center;
}

/*Images*/

img {
    display: block;
    width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: 40px;
}

.medium {
    display: block;
    width: auto;
    height: 120px;
}

.small2 {
    display: block;
    width: auto;
    height: 80px;
}

.small3 {
    display: block;
    width: auto;
    height: 95px;
}

.tiny {
    display: block;
    width: 27px;
    height: auto;
}

.logo {
    display: block;
    width: 300px;
    height: auto;
    margin-left: 30px;
}

/*Button*/

.button1 {
    border: none;
    border-radius: 3px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    background-color:#562c2c;
    color:#f4debb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button2 {
    border: 2px solid #562c2c;
    border-radius: 3px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    background-color:#f4debb;
    color:#562c2c;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 37%;
}

/*Footer*/

footer {
    text-align: center;
    width: 100%;
}